@import "tailwindcss";

@import "tw-animate-css";

@theme {
  --breakpoint-xs: 23.75rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;

  --color-section-bg-primary: oklch(100% 0 0); /* #FFFFFF */
  --color-section-bg-secondary: oklch(96% 0.04 75); /* #FFE7D6 */
  --color-section-bg-tertiary: oklch(35% 0.07 260); /* #1B6392 */

  --color-card-bg-blue: oklch(28% 0.07 260); /* #124261 */
  --color-card-bg-yellow: oklch(90% 0.05 90); /* #F7E99E */
  --color-card-bg-white: oklch(96% 0.005 270); /* #F2F4F5 */

  --color-font-primary: oklch(15% 0.005 270); /* #191C1F */
  --color-font-secondary: oklch(100% 0 0); /* #ffffff */
  --color-font-gray: oklch(65% 0.01 270); /* #77878F */
  --color-font-orange: oklch(67% 0.19 50); /* #FA8232 */
  --color-font-blue: oklch(60% 0.17 250); /* #2DA5F3 */

  --color-btn-primary: oklch(67% 0.19 50); /* #FA8232 */
  --color-btn-offer: oklch(80% 0.17 90); /* #EBC80C */
  --color-btn-card-hot: oklch(60% 0.22 30); /* #EE5858 */
  --color-btn-card-best: oklch(60% 0.17 250); /* #2DA5F3 */
  --color-btn-card-sales: oklch(55% 0.12 150); /* #2DB224 */
  --color-btn-card-off: oklch(84% 0.17 93); /* #EFD33D */
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-12;
}

@layer base {
  :root {
    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }

  :root { 
    --background: oklch(var(--color-section-bg-primary)); 
    --foreground: oklch(var(--color-font-primary));

    --card: oklch(var(--color-card-bg-white)); 
    --card-foreground: oklch(var(--color-font-primary));

    --popover: oklch(var(--color-section-bg-primary)); 
    --popover-foreground: oklch(var(--color-font-primary));

    --primary: oklch(var(--color-section-bg-tertiary)); 
    --primary-foreground: oklch(var(--color-font-secondary)); 

    --secondary: oklch(var(--color-section-bg-secondary)); 
    --secondary-foreground: oklch(var(--color-font-primary));

    --muted: oklch(var(--color-card-bg-white)); 
    --muted-foreground: oklch(var(--color-font-gray)); 

    --accent: oklch(var(--color-card-bg-white));
    --accent-foreground: oklch(var(--color-font-primary));

    --destructive: oklch(var(--color-btn-card-hot)); 
    --destructive-foreground: oklch(var(--color-font-secondary));

    --border: oklch(var(--color-font-gray) / 0.5); 
    --input: oklch(var(--color-font-gray) / 0.5); 
    --ring: oklch(var(--color-font-blue)); 

    
    --chart-1: oklch(64.6% 0.222 41.116);
    --chart-2: oklch(60% 0.118 184.704);
    --chart-3: oklch(39.8% 0.07 227.392);
    --chart-4: oklch(82.8% 0.189 84.429);
    --chart-5: oklch(76.9% 0.188 70.08);

    --sidebar: oklch(98.5% 0.001 106.423);
    --sidebar-foreground: oklch(14.7% 0.004 49.25);
    --sidebar-primary: oklch(21.6% 0.006 56.043);
    --sidebar-primary-foreground: oklch(98.5% 0.001 106.423);
    --sidebar-accent: oklch(97% 0.001 106.424);
    --sidebar-accent-foreground: oklch(21.6% 0.006 56.043);
    --sidebar-border: oklch(92.3% 0.003 48.717);
    --sidebar-ring: oklch(70.9% 0.01 56.259);
  }

  .dark {
    --color-white: 100% 0 0;
    --color-black: 15% 0.005 270;
    --color-gray-text: 75% 0.01 270;
    --color-orange-accent: 75% 0.2 50;
    --color-blue-accent: 70% 0.18 250;

    --color-section-bg-primary: oklch(15% 0.005 270);
    --color-section-bg-secondary: oklch(25% 0.008 270); 
    --color-section-bg-tertiary: oklch(35% 0.07 260); 

    --color-card-bg-blue: oklch(28% 0.07 260);
    --color-card-bg-yellow: oklch(80% 0.06 90);
    --color-card-bg-white: oklch(20% 0.006 270); 

    --color-font-primary: oklch(100% 0 0);
    --color-font-secondary: oklch(15% 0.005 270);
    --color-font-gray: oklch(75% 0.01 270);
    --color-font-orange: oklch(75% 0.2 50);
    --color-font-blue: oklch(70% 0.18 250);

    --color-btn-primary: oklch(75% 0.2 50);
    --color-btn-offer: oklch(85% 0.18 90);
    --color-btn-card-hot: oklch(65% 0.23 30);
    --color-btn-card-best: oklch(70% 0.18 250);
    --color-btn-card-sales: oklch(60% 0.13 150);
    --color-btn-card-off: oklch(90% 0.18 93);


    --background: oklch(var(--color-section-bg-primary));
    --foreground: oklch(var(--color-font-primary));

    --card: oklch(var(--color-card-bg-blue));
    --card-foreground: oklch(var(--color-font-secondary));

    --popover: oklch(var(--color-section-bg-primary));
    --popover-foreground: oklch(var(--color-font-primary));

    --primary: oklch(var(--color-section-bg-tertiary));
    --primary-foreground: oklch(var(--color-font-secondary));

    --secondary: oklch(var(--color-section-bg-secondary));
    --secondary-foreground: oklch(var(--color-font-primary));

    --muted: oklch(20% 0.007 270);
    --muted-foreground: oklch(var(--color-font-gray));

    --accent: oklch(20% 0.007 270);
    --accent-foreground: oklch(var(--color-font-primary));

    --destructive: oklch(var(--color-btn-card-hot));
    --destructive-foreground: oklch(var(--color-font-secondary));

    --border: oklch(var(--color-font-gray) / 0.2);
    --input: oklch(var(--color-font-gray) / 0.2);
    --ring: oklch(var(--color-font-blue));

    --chart-1: oklch(48.8% 0.243 264.376);
    --chart-2: oklch(69.6% 0.17 162.48);
    --chart-3: oklch(76.9% 0.188 70.08);
    --chart-4: oklch(62.7% 0.265 303.9);
    --chart-5: oklch(64.5% 0.246 16.439);

    --sidebar: oklch(21.6% 0.006 56.043);
    --sidebar-foreground: oklch(98.5% 0.001 106.423);
    --sidebar-primary: oklch(48.8% 0.243 264.376);
    --sidebar-primary-foreground: oklch(98.5% 0.001 106.423);
    --sidebar-accent: oklch(26.8% 0.007 34.298);
    --sidebar-accent-foreground: oklch(98.5% 0.001 106.423);
    --sidebar-border: oklch(100% 0 0 / 10%);
    --sidebar-ring: oklch(55.3% 0.013 58.071);
  }
}